{% extends "NutrividaLojaBundle:Admin:layout.html.twig" %}
{% block title %}Nutrivida | Index{% endblock %}
{% block head %}
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                </ul>
                <h4>Index</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="panel panel-success-head">
            Você não tem permissão para acessar esta página
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
