<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
            	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <h3> atendimento </h3>
                    <ul>
                        <li class="supportLi">
                            <p> Lorem ipsum dolor sit amet, consectetur </p>
                            <h4> <a class="inline" href="callto:+555136614734"> <strong> <i class="fa fa-phone"> </i> +55 51 3661.4734 </strong> </a> </h4>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <h3> informações </h3>
                    <ul>
                        <li> <a href=""> Sobre a NutriVida </a> </li>
                        <li> <a href=""> Contato </a> </li>
                        <li> <a href=""> Termos & Condições </a> </li>
                    </ul>
                </div>
                
                <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6">
                    <div class="fb-page" data-href="https://www.facebook.com/nutrivida.loja" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/nutrivida.loja"><a href="https://www.facebook.com/nutrivida.loja">NutriVida Tramandaí</a></blockquote></div></div>                
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <h3> newsletter </h3>
                    <ul>
                        <li>
                            <div class="input-append newsLatterBox text-center">
                                <input type="text" class="full text-center" id="emailNews"  placeholder="E-mail ">
                                <button onclick="assinarNews();" class="btn  bg-gray" type="button"> assinar <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
            	</div>
            </div>
		</div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
        	<p class="pull-left"> desenvolvimento <a href="http://www.agenciawi9.com.br/" target="_blank" title="agência wi9">agência wi9</a> </p>
    	</div>
    </div>
</footer>
