{% extends "NutrividaLojaBundle:Loja:layout.html.twig" %}
{% block title %}Nutrivida Tramandaí RS{% endblock %}

{% block head %}
{% endblock %}


{% block content %}
    <ul class="breadcrumbs">
        <div class="container">
            <li class="home">
                <a href="{{ path('_loja_index') }}" title="Go to Home Page"><img src="{{ asset('bundles/nutrividaloja/loja/images/home.png') }}" alt=""/></a>&nbsp;&nbsp;
                <span>&gt;</span>&nbsp;
            </li>
            <li class="home">
                NutriVida&nbsp; 
                <span>&gt;</span>
            </li>
            <li class="home">
                    <span class="red"> &nbsp;Política de Privacidade&nbsp;</span>
            </li>
        </div>
    </ul>
    <div class="contact">
        <div class="container">
            <div class="contact_top">
                <div class="col-md-12 contact_left">
                    <div class="contact_grid contact_address">
                        <h3>Políticas de Privacidade</h3>
                        <p>
                            Gostaria de enfatizar que a hegemonia do ambiente político facilita a criação das posturas dos órgãos dirigentes com relação às suas atribuições. Percebemos, cada vez mais, que a execução dos pontos do programa deve passar por modificações independentemente das novas proposições. Desta maneira, a percepção das dificuldades não pode mais se dissociar dos métodos utilizados na avaliação de resultados. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a constante divulgação das informações representa uma abertura para a melhoria do sistema de formação de quadros que corresponde às necessidades.                         
                        </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
{% endblock %}