{% extends "NutrividaLojaBundle:Loja:layout.html.twig" %}
{% block title %}Nutrivida Tramandaí RS{% endblock %}

{% block head %}
{% endblock %}


{% block content %}
        <ul class="breadcrumbs">
            <div class="container">
                <li class="home">
                    <a href="{{ path('_loja_index') }}" title="Go to Home Page"><img src="{{ asset('bundles/nutrividaloja/loja/images/home.png') }}" alt=""/></a>&nbsp;&nbsp;
                    <span>&gt;</span>&nbsp;
                </li>
                <li class="home">
                    NutriVida&nbsp; 
                    <span>&gt;</span>
                </li>
                <li class="home">
                    <span class="red"> &nbsp;Cliente&nbsp;</span>
                </li>
            </div>
        </ul>
{% endblock %}