
{% block form_row %}
    <div class="form-group">
        <label>
            {{ form_label(form) }}
            {% if required %}
                <span class="asterisk">*</span>
            {% endif %}
        </label>
        {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form) }}
    </div>

{% endblock form_row %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
            <label class="error">{{ error.message }}</label>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}



